.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 100px 0 15px 0;
}

.card {
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #e9edf5;
  width: 327px;
  height: 137px;
  background: #fcf1f1;
  font-family: inter;
  position: relative;
  overflow: hidden;
}

.card-inner h3 {
  color: #646464;
  font-size: 16px;
  font-weight: 400;
  font-family: inter;
}

.card h1 {
  color: #000;
  font-size: 48px;
  font-weight: 900;
  font-family: inter;
}

table {
  border-spacing: 0;
}

table.upcoming-events {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #fcf1f1;
  font-family: inter;
}

table.upcoming-events thead {
  background-color: #dd5757;
  color: white;
}

th,
td {
  padding: 0;
  text-align: left;
  padding: 10px;
}

th.th-header {
  text-align: left;
  font-size: 30px;
}

table.upcoming-events thead .actual-header th .aaa {
  font-size: 100px;
}

.card-icon {
  background-color: #dd5757;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.end-soon {
  height: fit-content;
  background-color: #fcf1f1;
  font-family: inter;
}

.end-soon thead {
  background-color: #dd5757;
  color: white;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.end-soon tbody td {
  color: black;
}
