.layout-container {
  /* display: grid; */
height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  /* grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-between;
}

.main-content{
margin-left: 15%;

  width: 85vw;
}