@import url("https://fonts.googleapis.com/css2?family=Damion&family=Inter&display=swap");

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border: 1px solid #c5c5c5;
  font-family: "Inter", sans-serif !important;
}

.modal {
  width: 850px;
  background-color: #fff;
  font-family: "Inter", sans-serif !important;
}

.modal-content {
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: -3rem;
}

.modal-close {
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: end;
  margin-left: 500px;
}

.modal-close:hover {
  color: white;
}

.modal-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif !important;
}

.modal-content p {
  margin-bottom: 20px;
  color: black;
  font-family: "Inter", sans-serif !important;
}

@media screen and (min-width: 500px) {
  .modal-content {
    width: 700px;
    height: 300px;
  }
}

@media screen and (min-width: 600px) {
  .modal-content {
    width: 800px;
    height: 400px;
  }
}

@media screen and (min-width: 800px) {
  .modal-content {
    width: 900px;
    height: 500px;
  }
}

@media screen and (min-width: 1100px) {
  .modal-content {
    width: 500px;
    height: 300px;
  }
}
