.navbar {
  display: flex;
  justify-content: center;
  background-color: #dd5757;
  padding: 10px;
  width: 85vw;
  height: 70px;
  border-radius: 5px;
}
.account-box {
  display: flex;
  align-items: end;
}
.profile-wrapper {
  color: white;
  display: flex;
  margin-left: 900px;
}
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  margin-left: 60px;
}
