.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dd5757;
  padding: 10px;
}

.account-box {
  display: flex;
  align-items: center;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  margin-left: 600px;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}
