.add-btn-div{
  margin-top: 15vh;
text-align: right;
width: 100%;

}

.btn-icon{
  margin-right:10px ;
}
.add-btn {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color: red;
font-size: 18px;
margin-right: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: transparent;
border: none;
cursor: pointer;
}

.add-nav {
  width: 100%;
  background: #dd5757;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-nav p {
  color: white;
  width: 90%;
  text-align: center;
}

.form-div-container {
  display: flex;
  margin: auto;
}

.form-container {
  width: 75%;
  padding: 10px;
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
}

.form-image {
  opacity: 0.1;
}

.form-label {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 20px;
  width: 40%;
  padding: 6px;
}

.form-label2 {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 20px;
  width: 100%;
  padding: 6px;
}

.form-input {
  outline: none;
  width: 100%;
  height: 30px;
  border: 1px solid #e9edf5;
  background: #fff;
}

.form-input2 {
  outline: none;
  height: 100px;
  width: 90%;
  border: 1px solid #e9edf5;
  background: #fff;
}

.addup-btn {
  display: inline-flex;
  padding: 14px 28px 14px 27px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #dd5757;
  margin-left: 20px;
  border: 1px solid #c5c5c5;
  color: white;
}

.form-image-box {
  width: 165px;
  height: 153px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e9edf5;
  margin-top: 3rem;
  background: #fff;
  opacity: 0.2;
  margin-left: 10px;
}

.file-input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.close-btn {
  fill: white;
}

.close-btn {
  fill: silver;
}

.modal-close-1 {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: end;
}
